version: "3.7"

services:
  db:
    image: postgres:13.2-alpine
    environment:
      - POSTGRES_PASSWORD=pg_password
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - ${PG_FORWARDED_PORT:-5432}:5432

  redis:
    image: redis:6.2.1-alpine3.13
    ports:
      - ${REDIS_FORWARDED_PORT:-6379}:6379

  base: &base
    build:
      context: .
      dockerfile: ./Dockerfile.test.cache
      cache_from:
        - swl-development-cache
      args:
        ARG_RUBY_VERSION: ${ARG_RUBY_VERSION:-3.0.0}
    image: swl-development:0.1.0
    tmpfs:
      - /tmp

  wait-middleware: &wait-middleware
    <<: *base
    environment:
      WAIT_HOSTS: db:5432, redis:6379
      WAIT_TIMEOUT: 90
      WAIT_HOST_CONNECT_TIMEOUT: 10
      WAIT_BEFORE: 5
      WAIT_AFTER: 5
      WAIT_SLEEP_INTERVAL: 2
    depends_on:
      - db
    command: /wait

  backend: &backend
    <<: *base
    stdin_open: true
    tty: true
    volumes:
      - ./:/app:cached
      - ${GEMS_CACHE_DIR:-bundle-cache}:/bundle
      - rails-cache:/app/tmp/cache
    depends_on:
      - db

  console:
    <<: *backend
    command: /bin/bash

volumes:
  db-data:
  bundle-cache:
  rails-cache: